:root {
  --bg-calc-color: rgb(211, 217, 233);
  --bg-calc-darker: rgb(198, 203, 216);
  --operation-buttons: rgb(182, 214, 252);
  --nubmers-buttons: rgb(235, 238, 248);
  --buttons: rgb(230, 234, 250);
  --button-text: black;
}

body[data-theme="dark"] {
  --bg-calc-color: rgb(71, 71, 71);
  --bg-calc-darker: rgb(63, 63, 63);
  --operation-buttons: rgb(255, 166, 0);
  --nubmers-buttons: rgb(134, 134, 134);
  --buttons: rgb(90, 90, 90);
  --button-text: white;
}

* {
  transition: 0.2s ease-in-out;
}

body {
  background-color: beige;
  background-size: cover;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: var(--bg-calc-color);
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid var(--bg-calc-color);
  max-width: 424px;
  overflow: hidden;
  position: relative;
}

.theme-panel {
  position: absolute;
  background-color: var(--bg-calc-color);
  border: 2px solid var(--bg-calc-darker);
  height: 100%;
  width: 250px;
  right: -260px;
  transition: 0.2s ease-in-out;
  padding: 50px 20px;
  box-sizing: border-box;
}

.theme-panel>h3 {
  color: var(--button-text);
  margin-top: 0;
}

.theme-buttons {
  display: flex;
  flex-direction: column;
}

.theme-buttons>button {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 7px 0px;
}

.choosen-button {
  background-color: var(--operation-buttons);
}

.upper {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  color: var(--button-text);
}

.menu-icon {
  height: 20px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.menu-icon>div {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--button-text);
}

.history-line {
  color: var(--button-text);
  text-align: right;
  min-height: 21px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  grid-template-rows: repeat(5, 70px);
}

button {
  background: var(--buttons);
  color: var(--button-text);
  font-size: 30px;
  border-radius: 5px;
  border-color: var(--bg-calc-color);
}

.numbers-button {
  background-color: var(--nubmers-buttons);
}

.oper-button {
  background-color: var(--operation-buttons);
}

.memory-buttons {
  display: flex;
  justify-content: space-evenly;
}

.memory-buttons>button {
  background-color: var(--bg-calc-color);
  border: 0;
  transition: 0.1s linear;
  font-size: 20px;
}

.memory-buttons>button:hover {
  background-color: var(--bg-calc-darker);
}

#input {
  margin: 10px 3%;
  height: 50px;
  width: 94%;
  background-color: var(--bg-calc-darker);
  color: var(--button-text);
  font-size: 30px;
  text-align: right;
}